# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

# Cache and History
ac-comphist.dat
auto-save-list
cache
company-statistics-cache.el
projectile-bookmarks.eld
request
savehist
.#*


# Repository
elpa

# YouCompleteMe
ycmd
